@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin-left: 8px;
  font-family: Poppins;
  font-weight: bolder;
  font-size: 38px;
  align-self: flex-start;
}

.title:hover{
  align-self: center;
}

.loginContainer {
  background: white;
  border-radius: 28px;
  padding: 24px;
  height: 80vh;
  width: 350px;
  display: flex;
  border-width: 0.5px;
  border-style: solid;
  border-color: rgba(68, 68, 68, 0.3);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s ease-in;
}

.loginContainer:hover {
  transform: scale(1.03, 1.03);
  box-shadow: 0px 10px 85px rgba(68, 68, 68, 0.6);
  border-radius: 32px;
}

.input {
  padding: 16px;
  font-size: 1em;
  font-family: Poppins;
  border-width: 0.5px;
  border-color: grey;
  width: 300px;
  margin-top: 12px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.label {
  font-family: Poppins;
  margin-top: 12px;
  font-weight: bolder;
}

.input:hover {
  box-shadow: 0px 10px 105px rgba(68, 68, 68, 0.3);
}

.input:focus {
  border-color: #fff;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.buttonText {
  font-weight: bold;
  color: #fff;
  font-family: Poppins;
  font-size: 1.2em;
}

.button {
  position: relative;
  margin-top: 12px;
  background: linear-gradient(-45deg, #f46b45, #eea849);
  padding: 16px;
  width: 335px;
  border: 0px;
  border-radius: 14px;
  transition: background 0.5s ease-out 100ms;
}

.button:hover::before {
  content: "";
  position: absolute;
  inset: 0.5px;
  z-index: -1;
  background: linear-gradient(#f46b45, #eea849) ;
  filter: blur(10px);
  box-shadow: 10px 1px 1px -10px orange; 
}

.termsAndConditions {
  margin-top: 12px;
  font-family: Poppins;
  font-size: 12px;
  margin-left: 12px;
}

